<div class="flex flex-col">
    <div 
    *ngFor="let art of art | slice:0:50" 
    class="flex group my-4 mx-auto flex-col lg:flex-row w-[95%] lg:w-[1000px] z-20">
        <app-artwork-image [imageUrl]="environment.API_URL + '/public/artworks/' + art.image + '.jpg'"></app-artwork-image>
        <div 
        class="border-l-4 border-b-4 border-teal-950 p-4 text-center bg-teal-50 w-auto lg:px-0 lg:w-[300px] h-fit">
            <div class="pb-3 mx-2 border-b-2 border-teal-950">
                <div class="font-medium text-md">
                    <a href="/artworks/{{art.id}}">
                        <div class="py-1 hover:bg-teal-300 transition duration-200">
                            {{art.title}}
                        </div>
                    </a>
                </div>
                <div class="font-semibold text-lg">
                    <a *ngIf="art.artist != null" href="/artists/{{art.artist.id}}">
                        <div class="py-1 hover:bg-teal-300 transition duration-200">
                            {{art.artist.title}}
                        </div>
                    </a>
                    <div *ngIf="art.artist == null">Artist Unknown</div>
                </div>
            </div>
            <div class="flex flex-col gap-1 mx-2 py-3 text-xs text-left border-b-2 border-teal-950">
                <div class="flex justify-between border-b-2 py-1 border-teal-950/20">
                    <span class="mr-2">Date</span>
                    <span class="font-bold text-end">{{art.date}}</span>
                </div>
                <div class="flex justify-between border-b-2 py-1 border-teal-950/20">
                    <span class="mr-2">Origin</span>
                    <span class="font-bold text-end">{{art.origin}}</span>
                </div>
                <div 
                *ngIf="art.style && art.style.id" 
                class="flex justify-between border-b-2 py-1 border-teal-950/20">
                    <span class="mr-2">Style</span>
                    <a class="font-bold hover:bg-teal-300 transition duration-200 px-1 text-end" href="/collections/{{art.style.id}}">
                        {{art.style.title}}
                    </a>
                </div>
                <div class="flex justify-between py-1">
                    <span class="mr-2">Medium</span>
                    <span class="font-bold text-end">{{art.medium}}</span>
                </div>
            </div>
            <div>
                <button
                (click)="productToCart(art)"
                class="w-full lg:w-[250px] hover:bg-teal-300 transition duration-200 border-b-4 border-teal-950 px-5 py-2 mt-4 uppercase font-semibold">
                    Buy a Copy - {{art.price.toLocaleString()}}EUR
                </button>
            </div>
        </div>
    </div>
</div>
<div
*ngIf="!art && !error"
class="flex justify-center w-[1000px] mt-10">
    <ngx-skeleton-loader count="5" appearance="circle"></ngx-skeleton-loader>
</div>
<div
*ngIf="error"
class="flex justify-center w-[1000px] mt-10">
    {{error.message}}
</div>