<div 
*ngIf="artist"
class="p-4 text-center overflow-hidden flex flex-col group mt-4 mb-8 mx-auto w-screen lg:px-0 lg:w-[1000px]">
    <div class="bg-teal-50 border-l-4 border-b-4 border-teal-950">
        <div class="pb-3 mx-4 border-b-2 border-teal-950">
            <div class="text-xl uppercase font-bold p-1">
                {{artist.title}}
            </div>
        </div>
        <div
        *ngIf="artist.birth || artist.description"
        class="p-2 py-3 text-xs text-left border-b-2 border-teal-950">
            <div 
            *ngIf="artist.birth"
            class="flex justify-evenly">
                <span class="font-bold text-base">
                    {{artist.birth}}
                </span>
                <span>-</span>
                <span class="font-bold text-base">
                    {{artist.death}}
                </span>
            </div>
            <div 
            *ngIf="artist.description"
            [innerHTML]="artist.description" 
            class="text-justify justify-between border-t-2 border-b-2 border-teal-950/20 my-1 p-2">
            </div>
        </div>
    </div>
</div>

<mat-divider></mat-divider>

<div
*ngIf="art && !art[0]"
class="text-center mt-4 lg:mt-8">
    Sorry, there's no artworks available from {{artist.title}} in our online gallery.
</div>
<div class="flex flex-col">
    <div 
    *ngFor="let art of art"
    class="flex group my-4 mx-auto flex-col lg:flex-row px-4 w-screen lg:px-0 lg:w-[1000px] z-20">
        <div class="border-t-0 lg:border-t-4 border-l-4 lg:border-l-0 border-teal-950 w-auto lg:w-[700px]">
            <lib-ngx-image-zoom
            [thumbImage]=art.thumbnail
            [enableScrollZoom]="true"
            [enableLens]="true"
            [maxZoomRatio]="4"
            ></lib-ngx-image-zoom>
        </div>
        <div class="border-l-4 border-b-4 border-teal-950 p-4 text-center bg-teal-50 w-auto lg:px-0 lg:w-[300px] h-fit">
            <div class="pb-3 border-b-2 border-teal-950">
                <div class="font-semibold">
                    {{art.title}}
                </div>
                <div class="font-semibold text-lg">
                    <div>
                        {{art.artist}}
                    </div>
                    <div 
                    *ngIf="art.artist == null">
                        Artist Unknown
                    </div>
                </div>
            </div>
            <div class="p-2 py-3 text-xs text-left border-b-2 border-teal-950">
                <div class="flex justify-between border-b-2 border-teal-950/20">
                    <span class="mr-2">
                        Date
                    </span>
                    <span class="font-bold">
                        {{art.date}}
                    </span>
                </div>
                <div class="flex justify-between border-b-2 border-teal-950/20">
                    <span class="mr-2">
                        Origin
                    </span>
                    <span class="font-bold">
                        {{art.origin}}
                    </span>
                </div>
                <div class="flex justify-between border-b-2 border-teal-950/20">
                    <span class="mr-2">
                        Style
                    </span>
                    <span class="font-bold">
                        {{art.style}}
                    </span>
                </div>
                <div class="flex justify-between">
                    <span class="mr-2">
                        Medium
                    </span>
                    <span class="font-bold">
                        {{art.medium}}
                    </span>
                </div>
            </div>
            <div>
                <button 
                mat-button
                (click)="productToCart(art)"
                class="w-full lg:w-[250px] hover:bg-teal-300 transition duration-200 text-teal-950 border-b-4 border-teal-50 hover:border-teal-950 px-5 py-1 mt-4 uppercase font-semibold">
                    Buy a Copy - {{art.price.toLocaleString()}}EUR
                </button>
            </div>
        </div>
    </div>
</div>
<div
*ngIf="!art && !artist && !error"
class="flex justify-center w-[1000px]">
    <ngx-skeleton-loader 
    count="5"
    appearance="circle">
    </ngx-skeleton-loader>
</div>
<div
*ngIf="error"
class="flex justify-center w-[1000px] mt-10">
    {{error.message}}
</div>