::ng-deep .ngxImageZoomContainer > img { 
    width: 800px !important; 
    height:auto !important;
}
::ng-deep .ngxImageZoomLensEnabled {
    border: 4px solid rgb(4 47 46) !important;
}
.mat-mdc-button{
    font-size: 14px;
    border-bottom: 4px solid rgb(4 47 46) !important;
}