<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    <div 
    *ngFor="let art of artists">
        <button class="hover:bg-teal-100 transition duration-200 bg-teal-50 border-l-4 border-b-4 border-teal-950 p-4 text-center overflow-hidden flex flex-col group my-4 mx-auto w-[350px] md:w-[600px] lg:w-[450px] z-20">
            <a href="/artists/{{art.id}}">
                <div class="pb-3 border-b-2 border-teal-950">
                    <div class="font-semibold p-1">
                        {{art.title}}
                    </div>
                </div>
                <div 
                *ngIf="art.birth || art.description" 
                class="p-2 py-3 text-xs text-left border-b-2 border-teal-950">
                    <div 
                    *ngIf="art.birth" 
                    class="flex justify-evenly">
                        <span class="font-bold">
                            {{art.birth}}
                        </span>
                        <span>-</span>
                        <span class="font-bold">
                            {{art.death}}
                        </span>
                    </div>
                    <div 
                    *ngIf="art.description"
                    [innerHTML]="art.description" 
                    class="text-justify justify-between border-t-2 border-b-2 border-teal-950/20 my-1 p-2 h-[500px] overflow-y-scroll">
                    </div>
                </div>
            </a>
        </button>
    </div>
</div>
<div
*ngIf="!artists && !error"
class="flex justify-center w-[1000px]">
    <ngx-skeleton-loader 
    count="5" 
    appearance="circle">
    </ngx-skeleton-loader>
</div>
<div
*ngIf="error"
class="flex justify-center w-[1000px] mt-10">
    {{error.message}}
</div>