<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    <div 
    *ngFor="let style of styles">
        <a href="/collection/{{style.id}}">
            <div 
            *ngIf="style.banner"
            class="bg-teal-50 hover:bg-teal-300 transition duration-200 border-l-4 border-teal-950 overflow-hidden flex flex-col group my-4 mx-auto w-[350px] md:w-[300px] z-20">
                <div 
                class="flex self-center border-l-4 border-teal-950 h-[550px] w-[1000px]">
                    <img class="hover:contrast-125 transition duration-200 m-auto h-[550px]" src="{{style.banner}}"/>
                </div>
                <div 
                class="border-b-4 border-teal-950 p-4 text-center w-[350px] md:w-[300px] h-fit">
                    <div class="pb-3 border-b-2 border-teal-950">
                        <div class="font-semibold p-1">
                            {{style.title.toUpperCase()}}
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>
<div
*ngIf="!styles && !error"
class="flex justify-center w-[1000px]">
    <ngx-skeleton-loader 
    count="5" 
    appearance="circle">
    </ngx-skeleton-loader>
</div>
<div
*ngIf="error"
class="flex justify-center w-[1000px] mt-10">
    {{error.message}}
</div>