<ng-container>
    <div class="z-50 fixed bg-teal-50 px-4 w-screen items-center flex flex-col md:flex-row">
        <div class="m-auto md:m-0 xl:m-auto">
            <a routerLink='/'>
                <span class="font-sil text-2xl">
                    ESIA 
                </span>
                <span class="font-arvo">
                    | Art Gallery
                </span>
            </a>
        </div>
        <div class="w-full md:w-auto md:absolute md:right-5">
            <app-menu></app-menu>
        </div>
    </div>
</ng-container>

