<div class="flex flex-col md:flex-row">
    <!-- <div class="flex items-center">
        <input type="text" placeholder="Search..." #filter>
        <button 
        class="flex items-center" 
        type="button"
        (click)="filterResults(filter.value)">
            <mat-icon>search</mat-icon>
        </button>
    </div> -->
    <div class="py-2 flex justify-around md:py-0">
        <button 
        class="hover:bg-teal-300 transition duration-200"
        mat-button 
        [matMenuTriggerFor]="exhibitionsMenu"
        >
            Exhibitions
        </button>
        <mat-menu #exhibitionsMenu="matMenu">
            <ng-template matMenuContent>
                <div
                *ngIf="!exhibitions && !error"
                class="flex justify-center w-[1000px]">
                    <ngx-skeleton-loader
                    count="5" 
                    appearance="circle">
                    </ngx-skeleton-loader>
                </div>
                <div
                *ngIf="error"
                class="flex justify-center w-[1000px]">
                    {{error.message}}
                </div>
                <div *ngFor="let exh of exhibitions | slice:0:3">
                    <button mat-menu-item class="h-[120px]">
                        <a href="/exhibitions/{{exh.id}}">
                            <mat-card class="h-[120px] hover:contrast-125 flex items-center justify-center">
                                <img  
                                class="w-full absolute transition duration-200" 
                                src='{{environment.API_URL}}/public/exhibitions/{{exh.id}}.jpg' >
                                <div class="p-2 bg-teal-50/80 z-10">
                                    <mat-card-title class="text-black text-lg">
                                        {{exh.title}}
                                    </mat-card-title>
                                    <mat-card-subtitle class="text-black">
                                        {{exh.start | date: 'longDate'}} until {{exh.end | date: 'longDate'}}
                                    </mat-card-subtitle>
                                </div>
                            </mat-card>
                        </a>
                    </button>
                </div>
                <button class="text-lg font-medium w-full h-[60px] hover:bg-teal-300 transition duration-200">
                    <a 
                    routerLink="/exhibitions"
                    class="px-4 h-[60px] flex items-center gap-2">
                        <span>See More</span>
                        <mat-icon>arrow_forward</mat-icon>
                    </a>
                </button>
            </ng-template>
        </mat-menu>
        <button mat-button class="hover:bg-teal-300 transition duration-200">
            <a routerLink="/collections">
                Collections
            </a>
        </button>

        <button mat-button class="hover:bg-teal-300 transition duration-200">
            <a routerLink="/artists">
                Artists
            </a>
        </button>
        <app-cart></app-cart>
    </div>
</div>