<div class="flex mt-1">
    <button 
    mat-icon-button
    (click)="refresh()"
    [matMenuTriggerFor]="cartMenu">
        <mat-icon>shopping_cart</mat-icon>
    </button>
    <mat-menu #cartMenu="matMenu">
        <ng-template matMenuContent>
            <div
            *ngIf="!cart"
            class="flex justify-center w-[1000px]">
                <ngx-skeleton-loader
                count="5"
                appearance="circle">
                </ngx-skeleton-loader>
            </div>
            <div *ngFor="let item of cart">
                <div mat-menu-item class="h-[120px]">
                    <mat-card class="h-[120px]">
                        <img  
                        class="h-[120px] w-[35%] absolute" 
                        src="{{item.thumbnail || item.image}}">
                        <mat-card-header class=" flex flex-col justify-end z-10 text-right">
                            <mat-card-subtitle>
                                <a *ngIf="item.artist" href="/artists/{{item.artist_id}}">
                                    <div class="pr-2 py-1 hover:bg-teal-100 transition duration-200">
                                        {{item.artist}}
                                    </div>
                                </a>
                                <span *ngIf="!item.artist">Exhibition Ticket</span>
                            </mat-card-subtitle>
                            <mat-card-title style="background-color: #ffffff6c; font-size: 18px; padding-right: 0.5rem;">
                                <div 
                                *ngIf="!item.start"
                                class="font-medium text-md">
                                    <a href="/artworks/{{item.id}}">
                                        <div class="py-1 hover:bg-teal-300 transition duration-200">
                                            {{item.title}}
                                        </div>
                                    </a>
                                </div>
                                <a *ngIf="item.start" href="/exhibitions/{{item.id}}">{{item.title}}</a>
                            </mat-card-title>
                            <div class="flex flex-row justify-end z-10 text-right">
                                <mat-card-title style="font-size: 18px;">
                                    {{item.price  || item.ticket_price}}EUR
                                </mat-card-title>
                                <mat-card-subtitle>
                                    <button 
                                    (click)="removeFromCart($event, item)"
                                    mat-icon-button>
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </mat-card-subtitle>
                            </div>
                        </mat-card-header>
                    </mat-card>
                </div>
            </div>
            <button mat-menu-item class="checkout h-[60px]">
                <a routerLink="/checkout">
                    <mat-card class="h-[60px]">
                        <mat-card-header class="z-10">
                            <mat-card-title 
                            style="display: flex !important;" 
                            class="items-center">
                                Go to Checkout
                                <mat-icon>arrow_forward</mat-icon>
                            </mat-card-title>
                        </mat-card-header>
                    </mat-card>
                </a>
            </button>
        </ng-template>
    </mat-menu>
</div>